[project]
	description = JavaCoding
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/basawarajnk
[access "refs/for/refs/*"]
	read = group user/basawarajnk
	push = group user/basawarajnk
	label-Code-Review = -2..+2 group user/basawarajnk
	label-Verified = -1..+1 group user/basawarajnk
	rebase = group user/basawarajnk
	removeReviewer = group user/basawarajnk
	submit = group user/basawarajnk
[access "refs/heads/*"]
	read = group user/basawarajnk
	create = group user/basawarajnk
	push = +force group user/basawarajnk
	pushMerge = group user/basawarajnk
[access "refs/tags/*"]
	push = +force group user/basawarajnk
	pushTag = group user/basawarajnk
	pushSignedTag = group user/basawarajnk
